.Stats {
  height: 100%;
  width: 50%;
  color: rgb(1, 221, 1);
  text-shadow: 1px 2px 1px black;
  padding: 0.1svh 1svh 1svh 1svh;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.stat-wrapper {
  width: 100%;
  display: flex;
  text-align: left;
  gap: 1svw;
}
.Stats h2 {
  font-size: 2em;
}

.Stats h3 {
  color: beige;
}
