.Stats {
  height: 100%;
  width: 50%;
  color: rgb(1, 221, 1);
  text-shadow: 1px 2px 1px black;
  background-color: rgb(23, 24, 22);
  box-shadow: 2px 4px 10px rgb(26, 34, 28);
  padding: 0.1svh 1svh 1svh 1svh;
  margin: 0.5%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.stat-wrapper {
  width: 100%;
  display: flex;
  /* align-items: center; */
  text-align: left;
  gap: 1svw;
}
.Stats h2 {
  font-size: 2em;
}

.Stats h3 {
  color: beige;
}
